#myButton {
    /* CSS mặc định cho button */
    background-color: #d38b39;
    color: #1a1515;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
#myButton.clicked {
    /* CSS cho button khi click */
    background-color: #38dc38;
    color: #362c2c;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.mode{
    background-color: #d38b39;
    border: 1px solid gray;
}
.pump{
    background-color: #d38b39;
    border: 1px solid gray;
}
.sliderContainer{
    position:relative;

}
.slider-2value {
    position: absolute;
    top: -20px; 
    left: 50%; 
    transform: translateX(-50%); 
}
.sliderone{
    background-color: rgb(16, 176, 16);
}

/* CSS cho container chứa gauge */
.gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3cece;
}

/* CSS cho gauge */
.gauge {
    width: 200px;
    height: 200px;
    position: relative;
}

/* Kim đo độ ẩm */
.gauge-needle {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 50% 100%;
    transform: translateX(-50%) rotate(-90deg);
    width: 2px;
    height: 70px;
    background-color: red;
}

/* Đọc giá trị độ ẩm */
.gauge-reading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
